.form {
  display: flex;
  justify-content: center;

  margin: 3rem;
  gap: 1rem;

  width: 100%;
}

input[type="text"] {
  cursor: pointer;

  height: 3rem;
  width: 60%;
  border-radius: 2rem;
  border-width: 0px;
  padding: 0 1rem 0 1rem;
}

button {
  cursor: pointer;

  height: 3rem;
  width: 3rem;
  border-width: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
